@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #141414;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    padding-bottom: 100px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    padding: 16px 30px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: #141414;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button:hover {
    transform: scale(0.95);
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.banner {
    width: 100%;
    border-bottom: 1px solid rgba(20, 20, 20, 0.05);
}

.banner__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__content--item {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid rgba(20, 20, 20, 0.05);
    border-right: 0.5px solid rgba(20, 20, 20, 0.05);
}

.banner__content--item:first-child {
    border-left: 1px solid rgba(20, 20, 20, 0.05);
}

.banner__content--item:last-child {
    border-right: 1px solid rgba(20, 20, 20, 0.05);
}

.banner__content--item--link {
    font-size: 15px;
}

.navbar {
    width: 100%;
    padding-top: 25px;
}

.navbar__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav--wrapper {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.navbar__nav--logo {
    width: 70px;
    height: 80px;
    display: flex;
    background: url('../img/logo.png') no-repeat center center / contain;
}

.navbar__nav--list {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.navbar__nav--list--link {
    font-size: 15px;
}

.navbar__nav--link {
    font-weight: 700;
    font-size: 15px;
}

.header {
    width: 100%;
    padding-top: 65px;
}

.header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content--wrapper {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.header__content--wrapper--title {
    font-weight: 700;
    margin-bottom: 45px;
    font-size: 36px;
}

.header__content--wrapper--action {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header__content--wrapper--action--info {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header__content--wrapper--action--info span {
    font-size: 15px;
}

.header__content--wrapper--action--info div {
    width: 1px;
    height: 20px;
    background: rgba(20, 20, 20, 0.05);
}

.header__content--img {
    display: flex;
    width: 100%;
    max-width: 370px;
    height: 445px;
    background: url('../img/header-img.png') no-repeat center center / contain;
}

.subtitle {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 45px;
}

.services {
    width: 100%;
}

.services__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.services__content--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__content--wrapper--item {
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    position: relative;
}

.services__content--wrapper--item--img {
    width: 100%;
    object-fit: contain;
    box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.1);
}

.services__content--wrapper--item--title {
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.branches {
    width: 100%;
}

.branches__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.branches__content--wrapper {
    width: 100%;
    height: 365px;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.branches__content--wrapper--action {
    width: 100%;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.branches__content--wrapper--action--item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 2px solid #141414;
    transition: 0.2s;
    cursor: pointer;
}

.branches__content--wrapper--action--item.active {
    background: #141414;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.2);
}

.branches__content--wrapper--action--item.active span {
    color: #fff;
}

.branches__content--wrapper--action--item span {
    color: #141414;
    font-size: 15px;
    display: flex;
    transition: 0.2s;
}

.branches__content--wrapper--action--item:hover {
    background: #141414;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.2);
}

.branches__content--wrapper--action--item:hover span {
    color: #fff;
}

.branches__content--wrapper--map {
    width: 100%;
    max-width: 870px;
    height: 100%;
    display: none;
}

.branches__content--wrapper--map.active {
    display: flex;
}

.branches__content--wrapper--map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history {
    width: 100%;
}

.history__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.history__content--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
}

.history__content--wrapper--item {
    width: 49%;
    position: relative;
    display: flex;
}

.history__content--wrapper--item p {
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    top: 15px;
}

.history__content--wrapper--item img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.1);
}

.contacts {
    width: 100%;
}

.contacts__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts__content--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__content--wrapper--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.contacts__content--wrapper--item p {
    font-size: 14px;
}

.products {
    width: 100%;
}

.products__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    background: url('../img/products-bg.jpg') no-repeat center center / cover;
    box-shadow: 0px 50px 150px rgba(0, 0, 0, 0.2);
}

.products__content--subtitle {
    color: #fff;
    width: 100%;
    max-width: 570px;
    margin-bottom: 25px;
}

.products__content--text {
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-width: 570px;
    line-height: 150%;
    margin-bottom: 35px;
}

.products__content--offer {
    width: 100%;
    max-width: 570px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.products__content--offer--btn {
    width: 100%;
    max-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.2s;
}

.products__content--offer--btn:hover {
    transform: scale(0.95);
    background: #fff;
    color: #141414;
}

.products__content--offer--info {
    font-size: 15px;
    color: #fff;
}

@media (max-width: 1200px) {
    .banner__content--item {
        padding: 15px;
    }

    .banner__content--item--link {
        font-size: 12px;
    }

    .navbar__nav {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 25px;
    }

    .navbar__nav--wrapper:last-child {
        width: 100%;
        justify-content: center;
    }

    .header__content {
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .header__content--wrapper {
        align-items: center;
    }

    .header__content--wrapper--action {
        justify-content: center;
    }

    .header__content--wrapper--title {
        font-size: 28px;
        text-align: center;
    }

    .header__content--img {
        height: 350px;
    }

    .services__content--wrapper {
        flex-wrap: wrap;
        row-gap: 65px;
    }

    .services__content--wrapper--item {
        max-width: unset;
        width: 49%;
    }
}

@media (max-width: 992px) {
    .banner {
        display: none;
    }

    .services__content--wrapper {
        flex-direction: column;
        flex-wrap: unset;
    }

    .services__content--wrapper--item {
        width: 100%;
        max-width: 480px;
    }

    .contacts__content--wrapper {
        flex-wrap: wrap;
        column-gap: 30px;
        justify-content: center;
        row-gap: 30px;
    }

    .history__content--wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .history__content--wrapper--item {
        width: 100%;
        max-width: 480px;
    }
}

@media (max-width: 768px) {
    .navbar__nav {
        flex-direction: column;
        flex-wrap: unset;
        row-gap: unset;
        column-gap: unset;
    }

    .navbar__nav--btn {
        margin-top: 25px;
        margin-bottom: 35px;
    }

    .navbar__nav--link {
        font-size: 13px;
    }

    .navbar__nav--list {
        column-gap: 25px;
    }

    .header__content--img {
        height: 250px;
    }

    .header__content--wrapper {
        max-width: 576px;
    }

    .header__content--wrapper--title {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .header__content--wrapper--action {
        flex-direction: column;
        row-gap: 25px;
    }

    .products__content--subtitle {
        font-size: 24px;
    }

    .products__content--offer {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
    }

    .branches__content--wrapper {
        height: 325px;
    }

    .branches__content--wrapper--action--item span {
        font-size: 12px;
    }
}